@font-face {
    font-family: 'StarWars';
    src: url('./../../fonts/StarWars.ttf');
    font-weight: normal;
    font-style: normal;
}

.error__letter {
    line-height: 30px;
    font-weight: bold;
    color: #cccccc; 
}

.error__title {
    margin-top: 4%;
    text-align: center;
    font-weight: bold;
    color: #cccccc;
}